<div class="card">
<div class="card-body">
    <h1> Credits </h1>
    Todo App is created by <a class="nav-link active" aria-current="page" href="https://github.com/yanchenglee98">Lee Yan Cheng</a>
    Source code is located <a class="nav-link active" aria-current="page" href="https://github.com/yanchenglee98/rails-todo-app">here</a>
</div>
</div>
