<% if user_signed_in? %>
    <br/>
    <h2>Welcome back, <%= current_user.email %>!</h2>

    You currently have <%= @tasks.count %> task(s)!
<% else %>
    <h1>Welcome to Todo App</h1>

    Todo App is a simple, fuss free online task tracker.
    <br/>

    <div class="card">
        <div class="card-body">
            Please sign up <%= link_to "here", new_user_registration_path %> if you do not have an account
            <br/>
            Or sign in <%= link_to "here", new_user_session_path %> if you are already registered
        </div>
    </div>

<% end %>